@tailwind base;

@tailwind components;

@tailwind utilities;

body {
	@apply bg-black text-gray-100;
}

a[href] {
	@apply underline font-bold;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-bold mb-4;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

main {
	& p,
	& ul,
	& ol,
	& li {
		@apply my-4;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.paired-editors {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"left-label right-label"
		"left-input right-input";
	label.left {
		grid-area: left-label;
	}
	label.left + * {
		grid-area: left-input;
		border-right: none;
	}

	label.right {
		grid-area: right-label;
		text-align: right;
	}
	label.right + * {
		grid-area: right-input;
		border-left: none;
		text-align: right;
	}
}

.vertical-editor {
	display: flex;
	flex-direction: column;

	:not(:last-child) {
		border-bottom: none;
	}

	* + label {
		@apply sr-only;
	}

	* + label + * {
		border-top: none;
	}
}
