.dashes {
	@apply grid gap-1;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto auto;
	grid-template-areas:
		"title title title title title"
		"icon dash-1 dash-2 dash-3 dash-4";

	h3 {
		@apply mb-0;
		grid-area: title;
	}
	.dash-1 {
		grid-area: dash-1;
	}
	.dash-2 {
		grid-area: dash-2;
	}
	.dash-3 {
		grid-area: dash-3;
	}
	.dash-4 {
		grid-area: dash-4;
	}
}
.dash {
	@apply border-white border-2 h-20 grid justify-items-center justify-center content-center items-center;
	grid-template-rows: 1fr 3rem 1fr;
	grid-template-areas: "upgrade" "dash" ".";

	.dash-checkbox-container {
		grid-area: dash;
	}
	.dash-checkbox {
		transform-origin: center center;
		transform: scale(1.25, 2.5) rotate(45deg);
	}

	.dash-checkbox-upgrade-container {
		grid-area: upgrade;
		margin-top: -0.75rem;
	}
	.dash-checkbox-upgrade {
		transform-origin: center center;
		transform: rotate(45deg);
	}

	.dash-checkbox-upgrade-container + .dash-checkbox-container {
		.dash-checkbox {
			transform: translate(0, 0.25rem) scale(1, 2) rotate(45deg);
		}
	}
}
